test

In [19]:
from config import gkey
from config import weatherkey
from citipy import citipy
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

In [20]:
# lat = round(np.random.uniform(-90, 90),3)
# long = round(np.random.uniform(-180, 180),3)
# print(lat)
# print(long)

-18.457
77.613

In [21]:
# city = citipy.nearest_city(-33,151)
# print(f'{city.city_name}, {city.country_code}')

cessnock, au

In [22]:
# city.country_code

'au'

In [23]:
# define empty lists
citylist = []
latlist = []
longlist = []
countrycodelist = []

# define length of script
MaxCities = 10

# # create latitude list
# for lats in range(0,MaxCities):
#     lat = round(np.random.uniform(-90, 90),3)
#     latlist.append(lat)

# # create longitude list
# for longs in range(0,MaxCities):
#     long = round(np.random.uniform(-180, 180),3)
#     longlist.append(long)

print(latlist)
print(longlist)


# create dataframe 
City_df = pd.DataFrame()
header_list = ['Lattitude','Longitude']
City_df = City_df.reindex(columns = header_list)      

# lats and longs
for cities in range(1,(MaxCities +1)):
    cities_lat = round(np.random.uniform(-90, 90),4)
    latlist.append(cities_lat)
    cities_long = round(np.random.uniform(-180, 180),4)
    longlist.append(cities_long)
    

City_df['Lattitude'] = pd.Series(latlist)
City_df['Longitude'] = pd.Series(longlist)
    
#     city = citipy.nearest_city(cities_lat,cities_long).city_name.title()
#     CountryCode = citipy.nearest_city(cities_lat,cities_long).country_code.upper()
#     citylist.append(city)
#     countrycodelist.append(CountryCode)

print(latlist)
print(longlist)

print(citylist)


# City_df.insert(0,'City', citylist)
# City_df.insert(1,'Country', countrycodelist)


for i in range(0,len(City_df['Lattitude'])):
    lat = City_df.iloc[i]['Lattitude']
    long = City_df.iloc[i]['Longitude']

    cityname = citipy.nearest_city(lat,long).city_name.title()
    citycountry = citipy.nearest_city(lat,long).country_code.upper()
    print(f'{lat} {long} {cityname} {citycountry}')
#     City_df.iloc[i]['City'] = cityname
#     City_df.iloc[i]['Country'] = citycountry
    citylist.append(cityname)
    countrycodelist.append(citycountry)

print(citylist)
    
City_df.insert(0,'City',citylist)
City_df.insert(1, 'Country', countrycodelist)
City_df

[]
[]
[30.0192, 81.6825, -37.1592, -14.05, -28.4128, 66.7535, 36.6096, 82.8036, -41.4647, 33.3947]
[162.5114, 177.4108, -107.9503, -43.6693, 26.5989, -66.6884, 32.4175, 28.9931, 119.8341, -90.3358]
[]
30.0192 162.5114 Sentyabrskiy RU
81.6825 177.4108 Leningradskiy RU
-37.1592 -107.9503 Rikitea PF
-14.05 -43.6693 Carinhanha BR
-28.4128 26.5989 Theunissen ZA
66.7535 -66.6884 Pangnirtung CA
36.6096 32.4175 Alanya TR
82.8036 28.9931 Mehamn NO
-41.4647 119.8341 Albany AU
33.3947 -90.3358 Greenwood US
['Sentyabrskiy', 'Leningradskiy', 'Rikitea', 'Carinhanha', 'Theunissen', 'Pangnirtung', 'Alanya', 'Mehamn', 'Albany', 'Greenwood']

            City Country  Lattitude  Longitude
0   Sentyabrskiy      RU    30.0192   162.5114
1  Leningradskiy      RU    81.6825   177.4108
2        Rikitea      PF   -37.1592  -107.9503
3     Carinhanha      BR   -14.0500   -43.6693
4     Theunissen      ZA   -28.4128    26.5989
5    Pangnirtung      CA    66.7535   -66.6884
6         Alanya      TR    36.6096    32.4175
7         Mehamn      NO    82.8036    28.9931
8         Albany      AU   -41.4647   119.8341
9      Greenwood      US    33.3947   -90.3358

In [24]:
# define empty lists
citylist = []
latlist = []
longlist = []
countrycodelist = []

# define length of script
MaxCities = 10


# create dataframe 
City_df = pd.DataFrame()
header_list = ['Lattitude','Longitude']
City_df = City_df.reindex(columns = header_list)      

# lats and longs
for cities in range(1,(MaxCities +1)):
    cities_lat = round(np.random.uniform(-90, 90),4)
    latlist.append(cities_lat)
    cities_long = round(np.random.uniform(-180, 180),4)
    longlist.append(cities_long)

# append Lattitude and Longitude to DF
City_df['Lattitude'] = pd.Series(latlist)
City_df['Longitude'] = pd.Series(longlist)


# Get Cities from PyCities
for i in range(0,len(City_df['Lattitude'])):
    lat = City_df.iloc[i]['Lattitude']
    long = City_df.iloc[i]['Longitude']
    cityname = citipy.nearest_city(lat,long).city_name.title()
    citycountry = citipy.nearest_city(lat,long).country_code.upper()
#     print(f'{lat} {long} {cityname} {citycountry}')
    citylist.append(cityname)
    countrycodelist.append(citycountry)

# Append Cities to DF
City_df.insert(0,'City',citylist)
City_df.insert(1, 'Country', countrycodelist)
City_df

             City Country  Lattitude  Longitude
0           Sitka      US    53.9010  -136.4803
1          Zlitan      LY    32.4071    14.3398
2         Camacha      PT    35.9915   -17.5364
3           Bluff      NZ   -78.4071   157.5551
4    Kruisfontein      ZA   -75.9530    29.1367
5      Chokurdakh      RU    78.8950   146.5428
6          Breves      BR    -1.5728   -50.5091
7       Ostrovnoy      RU    73.8640    42.0737
8  Port Elizabeth      ZA   -53.1168    28.5772
9      Maningrida      AU    -9.6290   134.4702

In [25]:
# api.openweathermap.org/data/2.5/weather?q=London,uk&appid={API key}

base_url = 'http://api.openweathermap.org/data/2.5/weather?q='
city = "Sao Filipe"
country = 'CV'
comma = ','
andsign = '&'


full_url = base_url + city + comma + country + '&appid=' + weatherkey

print(full_url)

response = requests.get(full_url) 

parsed_response = response.json()
pprint(response.json())

var = parsed_response["main"]["temp"]
print("temp " + str(var))

http://api.openweathermap.org/data/2.5/weather?q=Sao Filipe,CV&appid=69909ae4cfa3127164cce41fed164822
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 14.8961, 'lon': -24.4956},
 'dt': 1616157438,
 'id': 3374210,
 'main': {'feels_like': 297.32,
          'grnd_level': 1002,
          'humidity': 65,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 296.93,
          'temp_max': 296.93,
          'temp_min': 296.93},
 'name': 'SÃ£o Filipe',
 'sys': {'country': 'CV', 'sunrise': 1616139764, 'sunset': 1616183320},
 'timezone': -3600,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 43, 'gust': 5.43, 'speed': 2.72}}
temp 296.93

In [26]:

for eachcity in City_df['City']:

Sitka
Zlitan
Camacha
Bluff
Kruisfontein
Chokurdakh
Breves
Ostrovnoy
Port Elizabeth
Maningrida

In [29]:
if 'Bluff' in City_df['City'].values:
    print('yep!')

yep!